//voluntarily not a CSS module to allow for using classes in markdown files

@import '../Layout/global-vars';

.tldr {
  padding: 2rem;
  background-color: $highlight;
  color: $charcoal;

  a {
    color: $white;

    &:hover {
      background-color: $white;
      color: $highlight;
    }
  }
}
