@import './global-vars';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.3rem;
  line-height: 1.4;
  font-family: 'Quicksand', sans-serif;
  background-color: $charcoal;
  color: white;
}

main {
  display: block;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

a {
  color: $highlight;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: $white;
    background-color: $highlight;
  }
}

del span {
  color: #696657;
}
