@import '../Layout/_global-vars.scss';

.backHome {
  margin: 1rem 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  
  a {
    color: $white;
  }

  span {
    padding: 1rem 0.5rem;
  }
}